/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  color: rgb(34, 17, 17);
  padding-top: 3.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  /* background: linear-gradient(to right, pink, purple, pink); */
  background: linear-gradient(to right, white, purple, white);
}

#navbar {
  /* background: linear-gradient(to right, purple, pink); */
  background: purple;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.jumbotron {
  /* background-color: lightblue; */
  background-color: #69ffff;
  /* above is baby blue */
}

.team-sport {
  margin-top: 10%;
}

.shadow-text {
  text-shadow: 2px 2px 2px #aaa;
}

.shadow-text-purple {
  text-shadow: 1px 1px 15px purple;
}

.svg-next-to-text {
  /* border: 1px solid black; */
  padding: 4px 2px;
  margin-right: 20px;
  display: inline-block;
}

.svg-next-to-text svg {
  display: inline-block;
  vertical-align: middle;
}

/* below is to offset body padding-top, so navbar links to correct place */
.anchor-for-navbar {
  padding-top: 80px;
  margin-top: -80px;
}

.first-section {
  padding-top: 10%;
  padding-bottom: 10%;
}

.subheader {
  color: purple;
  font-family: "Open Sans", sans-serif;
}

.box-shadow {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.icon {
  margin-left: -25px;
}

#process {
  margin-bottom: 40px;
  /* padding: 20px; */
}

.added-margin {
  margin-top: 3%;
}

.service-offerings {
  margin-bottom: 40px;
  padding-top: 20px;
}

.wedding-types-ul {
  text-align: left;
  /* border: 1px solid green; */
  margin: 20px auto;
  padding: 0px;
  display: inline-block;
}

.no-bullets {
  list-style-type: none;
  padding: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.background-image {
  background: url(assets/building-blocks-of-love-smaller.jpg);
  width: 100%;
  height: 100%;
  /* background-attachment: fixed; */
  /* fixed will make it parallax effect */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: azure;
  min-height: 720px;
  /* 720px is the height of the original image */
}

.top-center-text {
  position: absolute;
  top: 3%;
  left: 20%;
  right: 20%;
  font-size: 48px;
}

.bottom-center-text {
  position: absolute;
  bottom: 1%;
  left: 20%;
  right: 20%;
  font-size: 54px;
}

.bottom-center-text-2 {
  position: absolute;
  bottom: -7%;
  left: 20%;
  right: 20%;
  font-size: 54px;
}

.circle-of-love {
  color: white;
  left: 20%;
  right: 20%;
  font-size: 54px;
}

.cursive-text {
  font-family: "Dancing Script", cursive;
}

.header-text {
  font-family: "Dancing Script", cursive;
  /* text-shadow: 4px 4px 4px #aaa; */
  font-size: 58px;
  padding-bottom: 20px;
}

/* for new-image-header */
.new-image-header {
  /* border: 3px solid red; */
  margin-left: 25%;
  margin-top: 25%;
  text-shadow: 2px 2px maroon;
}

.profile-pic {
  max-width: 300px;
}

@media screen and (max-width: 524px) {
  .new-image-header {
    margin-top: 18%;
  }
}

.new-image-mainheader {
  /* border: 2px solid green; */
  font-size: 74px;
}

@media screen and (max-width: 524px) {
  .new-image-mainheader {
    font-size: 36px !important;
  }
}

.new-image-subheader {
  /* border: 2px solid orange; */
  color: white;
  text-shadow: 2px 2px purple;
}
/* for new-image-header */

#myCarousel {
  background-color: lightgray;
  height: 400px;
  /* setting same height as max-height for .img-fluid, so tall portrait photos aren't too tall */
}

.img-fluid {
  max-height: 400px;
}

/* below is to center images in carousel horizontally and vertically */
.carousel-inner > .carousel-item {
  height: 400px;
}

.carousel-inner > .carousel-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 400px;
  width: auto;
}
/* above is to center images in carousel horizontally and vertically */

.small-pic {
  /* max-height: 50%; */
  max-width: 50%;
}

.card-padding {
  padding: 20px;
}

.card-img-about-profile-pic {
  color: #fff;
  height: 100%;
  /* min-height: 600px; */
  min-height: 500px;
  /* min-height: 324px; */
  /* background: url(assets/profile/profile-0.jpg) center no-repeat; */
  background: url(assets/profile/profile-0.jpg) no-repeat;
  /* background: url(assets/profile/profile_new.jpg) center no-repeat; */
  background-size: cover;
}

.about-text {
  padding-top: 5%;
  padding-right: 3%;
}

.about-section {
  background-color: white;
  border: 5px solid red;
}

.green-border {
  /* border: 1px solid #608038; */
  border: 1px solid purple;
  /* same color as green-text */
}

.rounded-border {
  border-radius: 25px;
}

/* Tablets ----------- */
@media screen and (max-width: 1024px) {
  .mainheader {
    /* font-size: 36px; */
  }

  .background-image {
    background: url(assets/building-blocks-of-love-smaller.jpg);
    width: 100%;
    height: 100%;
    /* background-attachment: fixed; */
    /* fixed will make it parallax effect */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: azure;
    min-height: 620px;
  }

  .bottom-center-text {
    bottom: 5%;
    font-size: 42px;
    /* color: orange; */
  }
}

/* this is the point when about section pic goes above image */
@media screen and (max-width: 767px) {
  .about-text {
    padding: 5%;
  }
}

/* Smartphones (portrait and landscape) ----------- */
/* @media screen and (max-width: 480px) { */
@media screen and (max-width: 524px) {
  .mainheader {
    font-size: 42px;
  }

  .background-image {
    background: url(assets/building-blocks-of-love-smaller.jpg);
    width: 100%;
    height: 100%;
    /* background-attachment: fixed; */
    /* fixed will make it parallax effect */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: azure;
    min-height: 300px;
  }

  .subheader {
    font-size: 20px;
  }

  .bottom-center-text {
    bottom: 10%;
    font-size: 32px;
    /* color: red; */
  }
}
